.contenidoI, p {
  color: white;
  text-align: center;
  font-size: 60px; }

p {
  font-size: 20px; }

.ubicacionI {
  padding-top: 100px; }

.fondoR {
  background-image: url("../assets/iconosdeBS/fondoa.jpg");
  background-size: cover;
  padding-top: 90px;
  min-height: 600px; }

/* Sobre Mi */
.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center; }

h2, h3, h4, h5 {
  color: white;
  font-size: 50px; }

.Contenido2 {
  color: white;
  font-size: 20px; }

/* mobil S */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .mobilST, h3 {
    margin-top: -40px;
    margin-bottom: 0px; }
  .mobilSC {
    font-size: 17px; } }

/* Habilidades */
h3 {
  margin-left: 120px; }

.gridContenedor {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 250px 250px;
  margin-left: 600px; }

.ico1 {
  height: 100px;
  margin-top: 15px; }

.ico2 {
  height: 130px; }

.ico3 {
  height: 115px;
  margin-top: 20px; }

.ico4 {
  height: 120px;
  margin-top: 20px; }

.ico5 {
  height: 150px; }

@media only screen and (min-width: 1024px) {
  .gridContenedor figure .text {
    font-size: 25px;
    color: white;
    margin-left: 20px;
    margin-top: 16px;
    opacity: 0;
    visibility: hidden; }
  .gridContenedor figure:hover > .text {
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-out; }
  .gridContenedor figure .textJ {
    font-size: 25px;
    color: white;
    opacity: 0;
    visibility: hidden; }
  .gridContenedor figure:hover > .textJ {
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-out; }
  .gridContenedor figure .textB {
    font-size: 25px;
    margin-left: -8px;
    margin-top: 26px;
    color: white;
    opacity: 0;
    visibility: hidden; }
  .gridContenedor figure:hover > .textB {
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-out; }
  .gridContenedor figure .textG {
    font-size: 25px;
    margin-left: 15px;
    margin-top: 30px;
    color: white;
    opacity: 0;
    visibility: hidden; }
  .gridContenedor figure:hover > .textG {
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-out; } }

/* Mobil H */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  h3 {
    text-align: center;
    margin-left: 0px; }
  h7 {
    color: white; }
  .gridContenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 140px 140px;
    margin-left: 0px;
    text-align: center;
    margin-top: 20px; }
  .ico3 {
    margin-top: 14px;
    height: 103px; }
  .ico4 {
    margin-top: 20px;
    height: 108px; } }

/* Proyectos */
h4 {
  margin-top: 70px; }

.Contenido4 {
  color: white;
  margin-top: 110px; }

/* Contacto */
h5 {
  text-align: center; }

p5 {
  color: white;
  font-size: 20px; }

.texto5 {
  text-align: center; }

.Contenido5 {
  text-align: center;
  color: white; }

/* Proximamente */
.imgP {
  height: 250px; }

.carousel-inner {
  margin-top: -50px; }

.logoR {
  height: 50px;
  width: 60px; }

.navbar-toggler {
  background-color: #000; }

.footerS {
  bottom: 0;
  background: #7d6f6f;
  background: linear-gradient(0deg, #7d6f6f 0%, white 100%);
  text-align: center; }

.pf {
  color: black; }

@media only screen and (min-width: 1024px) {
  .redes {
    padding-left: 65px;
    padding-top: 15px; }
  .Fcenter {
    padding-left: 55px;
    padding-bottom: 15px; }
  .email {
    padding-top: 15px; } }

/* iconos */
.icosize, .icosizeL {
  height: 30px; }

.icosizeL {
  padding-left: 5px;
  padding-right: 5px; }

.logoF {
  height: 70px; }

* {
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none;
  color: black; }
